{% load django_tables2 %}
{# Bulma filtered table template #}
<div id="table_{{ table.table_name }}_inner">
  {# Filter bar #}
  <form id="table_{{ table.table_name }}_form" name="table_{{ table.table_name }}_form">
    <div class="field is-grouped is-grouped-multiline mb-4">
      <div class="control is-expanded">
        {% include 'rg_table4/bulma/filters/search.html' %}
      </div>
      {% for name, field in table.filter_fields %}
        <div class="control">
          {% include 'rg_table4/bulma/filters/select.html' with filter_name=name filter_field=field %}
        </div>
      {% endfor %}
      <div class="control">
        {% include 'rg_table4/bulma/filters/clear.html' %}
      </div>
    </div>
  </form>

  {# Table #}
  <div class="table-container">
    <table class="table is-striped is-hoverable is-fullwidth{% if table.attrs.class %} {{ table.attrs.class }}{% endif %}"
           {% for key, value in table.attrs.items %}{% if key != 'class' %} {{ key }}="{{ value }}"{% endif %}{% endfor %}>
      <thead>
        <tr>
          {% for column in table.columns %}
            <th {{ column.attrs.th.as_html }}>
              {% if column.orderable %}
                <a href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}">
                  {{ column.header }}
                  {% if column.is_ordered %}
                    {% if column.order_by_alias.is_descending %}&#9660;{% else %}&#9650;{% endif %}
                  {% endif %}
                </a>
              {% else %}
                {{ column.header }}
              {% endif %}
            </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in table.paginated_rows %}
          <tr {{ row.attrs.as_html }}>
            {% for column, cell in row.items %}
              <td {{ column.attrs.td.as_html }}>{{ cell }}</td>
            {% endfor %}
          </tr>
        {% empty %}
          <tr>
            <td colspan="{{ table.columns|length }}" class="has-text-centered has-text-grey py-4">
              {{ table.empty_text|default:"No data available" }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% include 'rg_table4/bulma/paginator_simple.html' %}
</div>
