{% if filter_field.field.widget.input_type == "date" %}
<input type="date"
       class="input"
       name="{{ filter_name }}"
       data-bind="{{ filter_name }}"
       value="{{ filter_field.value|default:'' }}"
       placeholder="{{ filter_field.label }}"
       title="{{ filter_field.label }}"
       data-on:change="@get('{{ request.path }}', {contentType: 'form'})">
{% else %}
<div class="select">
  <select name="{{ filter_name }}"
          data-bind="{{ filter_name }}"
          data-on:change="@get('{{ request.path }}', {contentType: 'form'})">
    {% for choice in filter_field.field.choices %}
      <option value="{{ choice.0 }}"{% if filter_field.value == choice.0|stringformat:'s' %} selected{% endif %}>
        {{ choice.1 }}
      </option>
    {% endfor %}
  </select>
</div>
{% endif %}
