{% load django_tables2 %}
{# Bulma filtered table template #}
<div id="table_{{ table.table_name }}_inner"
     {% if table.actions %}data-signals="{table{{ table.table_name }}SelectAll: false}"{% endif %}>
  {# Filter bar #}
  <form id="table_{{ table.table_name }}_form" name="table_{{ table.table_name }}_form">
    <div class="field is-grouped is-grouped-multiline mb-4">
      <div class="control is-expanded">
        {% include 'rg_table/bulma/filters/search.html' %}
      </div>
      {% for name, field in table.filter_fields %}
        <div class="control">
          {% include 'rg_table/bulma/filters/select.html' with filter_name=name filter_field=field %}
        </div>
      {% endfor %}
      <div class="control">
        {% include 'rg_table/bulma/filters/clear.html' %}
      </div>
      {% if table.enable_profiles or table.enable_column_selection %}
      <div class="control ml-auto is-flex" style="gap: 0.5rem;">
        {% include 'rg_table/bulma/profile_selector.html' %}
        {% include 'rg_table/bulma/columns_selector.html' %}
      </div>
      {% endif %}
    </div>
  </form>

  {# Table #}
  {% if table.actions %}
  <form method="post" action="{{ request.get_full_path }}">
    {% csrf_token %}
    {% include 'rg_table/bulma/action_bar.html' %}
  {% endif %}
  {% include 'rg_table/bulma/table_body.html' %}
  {% if table.actions %}
  </form>
  {% endif %}
  {% include 'rg_table/bulma/paginator_simple.html' %}
  {% include 'rg_table/bulma/per_page_selector.html' %}
</div>
