{% load django_tables2 %}
{# Bulma table template - base template with blocks #}
<div id="table_{{ table.table_name }}_inner">
  {% block toolbar %}
    {% include 'rg_table/bulma/profile_selector.html' %}
    {% include 'rg_table/bulma/columns_selector.html' %}
  {% endblock %}
  {% block table %}
    {% include 'rg_table/bulma/table_body.html' %}
  {% endblock %}
  {% block paginator %}
    {% include 'rg_table/bulma/paginator_simple.html' %}
    {% include 'rg_table/bulma/per_page_selector.html' %}
  {% endblock %}
</div>
