{% load django_tables2 %}
{# Bulma filtered table template #}
<div id="table_{{ table.table_name }}_inner">
  {# Filter bar #}
  <form id="table_{{ table.table_name }}_form" name="table_{{ table.table_name }}_form">
    <div class="field is-grouped is-grouped-multiline mb-4">
      <div class="control is-expanded">
        {% include 'rg_table/bulma/filters/search.html' %}
      </div>
      {% for name, field in table.filter_fields %}
        <div class="control">
          {% include 'rg_table/bulma/filters/select.html' with filter_name=name filter_field=field %}
        </div>
      {% endfor %}
      <div class="control">
        {% include 'rg_table/bulma/filters/clear.html' %}
      </div>
    </div>
  </form>

  {# Table #}
  {% include 'rg_table/bulma/table_body.html' %}
  {% include 'rg_table/bulma/paginator_simple.html' %}
</div>
